{% macro user_component(users) %}
    {% for user in users %}
        {% set name = user.name %}
        {% set idade = user.idade %}
        {% set email = user.email %}
        {% set since = user.since %}
          <ul class="list-group list-group-flush mb-5">
            <li 
                class="list-group-item {{ 'bg-success' if user['active'] else 'bg-danger' }}" > 
                Nome => {{ name | title }}  
            </li>
            <li class="list-group-item" > Idade => {{ idade }}  </li>
            <li class="list-group-item" > Email => {{ email }}  </li>
            <li class="list-group-item" > Data => {{ since | formatdate }}  </li>
          </ul>
    {% endfor %}
{% endmacro %}